@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body {
  /* font-family: "Source Sans Pro", Helvetica, sans-serif; */
  color: #414f57;
  line-height: 2;
  letter-spacing: 0.2em;
  color: rgb(40, 32, 32);
  padding: 10px;
}
a:link {
  text-decoration: none;
  color: tomato;
}

a:visited {
  text-decoration: none;
  color: tomato;
}

a:hover {
  text-decoration: underline;
  color: tomato;
}

a:active {
  text-decoration: underline;
  color: tomato;
}
section {
  margin: 0;
  padding: 0 10px;
  text-align: left;
}

.header {
  margin: 0;
  padding: 0 10px;
  color: rgb(51, 43, 43);
  background-color: transparent;
}

.brand-logo {
  color: rgb(56, 54, 54);
  display: inline-block;
  text-decoration: none;
}

.nav-links {
  display: inline-block;
}
.nav-links > li {
  color: rgb(73, 65, 65);
  list-style: none;
  display: inline-block;
}

.nav-links > li > a {
  color: rgb(20, 19, 19);
  text-decoration: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: white;
  color: tomato;
  padding: 15px;
  font-size: 18px;
  border: none;
}
@media only screen and (max-width: 600px) {
  .dropbtn,
  .donatebtn {
    padding: 8px;
    font-size: 12px;
    border: none;
  }
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.2px solid transparent;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  line-height: 1;
  margin: 10px;
  padding: 0.2em 1.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  float: left;
}
.btn:hover,
.btn:focus {
  outline: 0;
}

.delete-edit {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.delete-edit:hover {
  color: rgb(31, 29, 29);
  box-shadow: 0 0 40px 40px #f51900 inset;
}
.contact:hover {
  color: rgb(20, 18, 18);
  box-shadow: 0 0 40px 40px #1ce91c inset;
}
.edit:hover {
  color: black;
  box-shadow: 0 0 40px 40px yellow inset;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
}
.need-have {
  margin: 20px auto 0;
  padding: 100px 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: rgb(83, 72, 72);
}

footer {
  padding: 0 10px;
  text-align: center;
}

li {
  padding: 0 10px;
  list-style: none;
}

#editForm,
#showMsg {
  display: none;
}
#showForm {
  display: block;
}

.list {
  /* display: inline-block; */
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}
.list-item {
  max-width: 550px;
  padding: 20px 0 60px 10px;
  margin: 12px;
  border: 0.25px solid rgb(116, 113, 113);
}

.cancel-edit {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .dropbtn,
  .donatebtn {
    padding: 8px;
    font-size: 12px;
    border: none;
  }
}
