@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #414f57;
  line-height: 2;
  letter-spacing: 0.2em;
  color: rgb(40, 32, 32);
  padding: 10px;
}
a:link {
  text-decoration: none;
  color: tomato;
}

a:visited {
  text-decoration: none;
  color: tomato;
}

a:hover {
  text-decoration: underline;
  color: tomato;
}

a:active {
  text-decoration: underline;
  color: tomato;
}
section {
  margin: 0;
  padding: 0 10px;
  text-align: left;
}

.header {
  margin: 0;
  padding: 0 10px;
  color: rgb(51, 43, 43);
  background-color: transparent;
}

.brand-logo {
  color: rgb(56, 54, 54);
  display: inline-block;
  text-decoration: none;
}

.nav-links {
  display: inline-block;
}
.nav-links > li {
  color: rgb(73, 65, 65);
  list-style: none;
  display: inline-block;
}

.nav-links > li > a {
  color: rgb(20, 19, 19);
  text-decoration: none;
}

.need-have {
  margin: 20px auto 0;
  padding: 100px 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: rgb(83, 72, 72);
}

footer {
  padding: 0 10px;
  text-align: center;
}

li {
  padding: 0 10px;
  list-style: none;
}

#showForm {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
}

.time {
  font-size: small;
  padding: 0;
}
